<% content_for(:title, 'レビューをつくる') %>
<%= turbo_frame_tag "edit-review" do %>
  <div class="mx-auto w-full flex">
    <div class="mx-auto">
      <div class="bg-white py-8">
        <div class="mx-auto max-w-lg px-6 ">
          <%= turbo_frame_tag "review-form" %>
          <ul role="list" class="overflow-y-auto max-h-[48vh] flex flex-col-reverse">
            <%= turbo_stream_from "review_messages" %>
            <div id="review_messages">
              <%= render @review.conversations %>
            </div>
          </ul>
          <%= render partial: "summary_button", locals: { review: @review } %>
          <%= render partial: "conversations/form", locals: { review: @review } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<style>
    .footer {
        display: none;
    }
</style>